*.pyc
*.pyo
.DS_Store
.ipynb_checkpoints/
Analysis/
churn-data/
Foundation_data/
Frontend/
Govind/
kinesis_data_objects/
LocalDB/
Manan/
Manish/
Rashmi/
Shalini/
Sibi/
tmp/
Trial2/
Vaibhav/
cuemath_db.py
config_update_script.py
*.zip
*.csv
*.html
session_dump_by_date.py
*.json